body {
  background-color: #6d071a;
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: 25px
}

h1 {
  color:black;
  font-size: 57px;
}

p {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4{
  font-weight: bold;
}

#img-css {
  border-radius: 30%;
  padding: 28px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold
}

a:hover {
  color: black;
}


.container {
  width: 1230px;
  margin: 10px auto;
  padding: 30px 35px;
  border-radius: 30%;
}


.link-btn{
  background-color: #3567FC;
  color: black;
  padding: 10px 30px;
  border-radius: 5px;
}

.link-btn:hover{
  background-color:black;
  color: grey;
}

.card-white{
  background-color: white;
  text-align: center;
  padding: 45px;
  box-shadow: 10px 20px 16px rgba(0.2,0,0,0.1);
  border-radius: 15px;
  margin: 18px 30px;

}

.card-white:hover{
  background-color:#A9A8A8;
}

.list-inline{
  list-style: none;
  padding-left: 10px;
}

.list-inline li{
  display: inline;
  padding: 20px;
}

#img-danemark {
  width: 500px;
  height: 500px auto;
}

@media (max-width: 755px) {
  .container {
    width: 635px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 350px;
  }
}

.list-inline{
  font-size: 55px;
}

#introduction p{
  margin-bottom: 40px;
}


